@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  color: #e5e7eb;
  display: flex;
  font-size: 18px;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: auto;
  margin-right: 132px;
  gap: 32px;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex: 1 1 auto;
  padding: 32px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 148px;
  font-weight: bold;
}

.image-place {
  background-color: #1f2937;
  padding: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.intro {
  font-size: 48px;
  max-width: 400px;
  font-weight: 900;
  color: #f9faf8;
}

.image {
  background-color: #989998;
  padding: 90px 110px;
  color: #f9faf8;
}

.explain {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 300px;
}

.number-1 {
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  border-color: #3882f6;
  font-weight: 700;
  color: #e5e7eb;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  padding: 64px;
}

.subtext {
  padding: 0;
  margin: 0;
  max-width: 150px;
  color: #989998;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9faf8;
  gap: 48px;
  padding-top: 32px;
  margin: 0;
  padding: 64px;
}

.card {
  padding: 64px;
  border: 5px;
  border-color: #3882f6;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 96px;
}

.quote {
  background-color: #989998;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote-line {
  font-size: 36px;
  font-style: italic;
  max-width: 900px;
  color: #474847;
}

.quoter {
  font-size: 16px;
  font-weight: 900;
  color: black;
  margin-left: auto;
  margin-right: 250px;
}

.sign-up-section {
  background-color: #f9faf8;
  padding: 100px;
}

.sign-up-box {
  background-color: #3882f6;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide {
  font-size: 20px;
  font-weight: 500;
  color: #e5e7eb;
}

.sign-up-box button {
  margin-left: 350px;
  padding: 8px 32px;
  border: 3px;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
}

.footer {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: #e5e7eb;
}
